*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
}
:root{
  font-size: 15px;
  font-family: bungee, sans-serif;
}
body{
  height: 100vh;
  font-family: bungee, sans-serif;
}

#game div {
  border: 1px solid black;
  width: 15%;
  /* height: 200px; */
  height: 10%;;
  margin: 10px;
  display: inline-block;
  
}
#game{
  width:50%;
 
  min-width:200px;
    max-width: 700px;
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  border:solid 2px green;
  box-sizing: border-box;
  margin: 0 auto;
}

div.clicked{
  background-color: orange;
}

.hidden {
  display:none;

}

.start{
  display:flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  /* border:solid 2px red; */
  align-items:center;
  justify-content:center;

}
#match_a_game{
  color:purple;
  font-size: 4rem;
}
#start-btn{
 border-style: none;
 color:black;
 font-weight:bold;
}

/*second container */

.game_play{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* margin-top:1em; */
}

#score_timout_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: solid 2px blue; */
  width:90%;
  margin: 0 auto;

}

#score{
  font-size:1.5em;
  width:20rem;
  /* border:solid 2px red; */
  text-align:center;
}
#timer{
  font-size:1.5em;
  width:20rem;
  /* border:solid 2px red; */
  text-align:center;
}

#reset{
  margin:2rem;
}


/*third container*/
.game_over{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;

}
#game_over_text{
  font-size:5rem;
  color:purple;
  font-style: bungee, sans-serif;
}

#end_score{
  font-size:5rem;
  color:purple;
  font-style: bungee, sans-serif;
}

@media (max-width:576px){
  body{
    /* display: none; */
  }
  #match_a_game{
    color:purple;
    font-size: 2rem;
  }
  #start-btn{
   border-style: none;
   color:black;
   height:2rem;
   font-weight:bold;
  }

  /*game_play container */
  /* second container */
  #score{
    font-size:1em;
    width:20rem;
    /* border:solid 2px red; */
    text-align:center;
  }
  #timer{
    font-size:1em;
    width:20rem;
    /* border:solid 2px red; */
    text-align:center;
  }
  #game{
    width:90%;
    height:100%;
    min-width:100px;
    max-width: 700px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    border:solid 2px green;
    box-sizing: border-box;
    margin: 0 auto;
    
  }
 .card {
    border: 1px solid black;
    width: 3.5em !important;
    height:3.5em !important;
    /* height: 200px; */
    
  }

  /*last game over */
  .game_over{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
  
  
  }
  #game_over_text{
    font-size:2rem;
    color:purple;
    font-style: bungee, sans-serif;
  }
  
  #end_score{
    font-size:2rem;
    color:purple;
    font-style: bungee, sans-serif;
  }
 

}



